---
title: Team
description: We've built an amazing team of researchers.
image: https://source.unsplash.com/BcoGknSqlDc/2000x1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Our Team</h1>
			<p class="subtext editable">We have an extremely talented team whose sole goal is to bring you closer to AI/ML.</p>
		</div>
	</div>
</section>



<section class="pad">
	<div class="container">
		<h2>Core Researchers</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="container">
		<h2>Associate Researchers</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_associate_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for member in site.associate %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=member.image_path %})"></div>
					<div class="name"><a target="_blank" href="https://twitter.com/{{ member.twitter_username }}">{{ member.name }}</a></div>
					<div class="position">{{ member.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
<!--	<div class="container">
		<h2>Students</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_students_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.students_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
		-->
	</div>
</section>
